@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin:0;
  overflow-x: hidden;
}

:root {
    --darkerpurple: rgb(51, 19, 63);
    --darkpurple: hsl(266, 58%, 26%);
    --greypurple: hsl(258,55%,40%);
    --ogpurple: hsl(266, 59%, 54%);
    --lightpurple: hsl(258, 85%, 72%);
    --transpurple: hsla(271, 60%, 60%, 0.548);
    --lighterpurple: hsl(271, 59%, 73%);
    --purplewhite: hsl(271, 58%, 89%);
    --hintpurple: hsl(276, 54%, 95%);
}

/*font-family: 'Rubik', sans-serif;*/



.navbar {
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: var(--ogpurple);
    height: 42px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    column-gap: 20px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.text-white, .rubik-font, a,p,h1,h3,#titleslist > li, .searchbar-input, .menubar > ul > * {
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
}

button, a {
    cursor: pointer;
}

.menu {
    float: left;
    display: block;
    margin-left: 1%;
    margin-right: 1.2%;
}


.menu  img {
    padding: 3px 1px;
}
.navbarlist {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.navbarcontents {
    display: flex;
    margin-inline: 20px;
    align-items: center;
    justify-content: space-between;
}

.cart-link {
    display: inline-block;
    padding: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.leftbar {
    justify-content: flex-start;
    display: inline-flex;
    margin-left: 10px;
}

.tinco-logo-white {
    height: 90%;
    padding-top: 3%;
}

#hiddenlogo {
    display: none;
}

.rightbar {
    display: flex;
    column-gap: 20px;
    column-gap: clamp(5px, 2vw, 20px);
    justify-content: flex-end;
    align-items: center;
    float: right;
}

.smallbutton {
    padding: 8px 13px;
}

.tinco-logo-white {
    padding: 1px;
}

.searchbar-input {
    outline: 0;
    margin-top: 0;
    margin: 0;
    display: inline-block;
    font-size: clamp(8px,3.5vw,1.1rem);
    width: 100%;
    padding: 0;
    padding-inline: 20px;
}

.searchbar-form {
    margin: 0;
    width: 30%;
}

.hover-colorswap:hover {
    color: var(--ogpurple);
    background-color: white;
}

.hover-colorswap {
    transition: color 100ms, background-color 100ms;
}

.hover-bgcolor {
    transition: background-color 160ms;
}

.hover-bgcolor:hover {
    background-color: hsla(0,100%,100%,0.1);
}

.hover-bgcolor-purple {
    transition: background-color 150ms, box-shadow 150ms;
}

.hover-bgcolor-purple:hover {
    box-shadow: 0px 2px 4px hsl(0,0%,67%);
    background-color: var(--darkpurple);
}

.hover-bgcolor-dark {
    transition: background-color 100ms;
}

.hover-bgcolor-dark:hover {
    background-color: hsla(0,0%,40%,0.25);
}

.scroll > .caret {
    width: 95%;
}

.scrollright {
    padding: 34px 6px 26px 0;
}

.scrollleft {
    padding: 34px 0 26px 6px;
}

.menubar {
    display: none;
    position: fixed;
    height: 100%;
    background-color: var(--lightpurple);
    z-index: 1;
    left: 0;
    width: clamp(100px,12%,100%);
}

.menubar > ul {
    display: grid;
    row-gap: 5px;
    list-style-type: none;
    padding-left: 0px;
    margin-top: 15px;
}

.menubar > ul > li > a {
    padding-left: 10px;
}

/*------------------------------------
MAIN
--------------------------------------*/

main {
    top: 42px;
    width: 100%;
    position: relative;
}

.notop {
    position: relative;
    top: 0;
}

#main-content {
    display: block;
    row-gap: 15px;
}


.category {
    height: max(50vmin,200px);
    width: 100%;
}
    
.category-popular {
    position: relative;
    margin-bottom: 15px;
    z-index: 1;
    background-color: var(--purplewhite);
}

.category-popular::before {
    content: '';
    position: absolute;
    display: inline-block;
    background-color: var(--purplewhite);
    inset: 99.5% 0 0 0;
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    width: 50%;
    height: 7%;
    z-index: 2;
}
.category-popular::after {
    content: '';
    z-index: 2;
    position: absolute;
    display: inline-block;
    background-color: white;
    inset: 93.9% 0 0 50%;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    width: 50%;
    height: 7%;
}

 .categorytitle {
    z-index: 3;
    padding-top: 10px;
    font-size: 1.5em;
    font-family: 'Rubik', sans-serif;
    margin: 0px 0px 0px 2.5%;
}

.categoryshop {
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66.67%;
    border-radius: 5px;
    background-color: rgba(54, 54, 54, 0.178);
    column-gap: 5px;
    padding: 5px 0px 5px 0px;
    margin: 15px 5px 15px 5px;
}

.scroll {
    width: 55px;
    height: 96%;
    border-radius: 6px;
    color: var(--ogpurple);
    container-type: size;
    font-size: 65px;
    border: 3px solid var(--ogpurple);
    background-color: var(--lightpurple);
    background-color: var(--transpurple);
}

.itemselection-container {
    overflow: hidden;
    overflow-y: hidden;
    height: 100%;
    position: relative;
    width: 100%;
    border-radius: 5px;
    z-index: 4;
}

.itemselection-items {
    display: flex;
    justify-content: flex-start;
    column-gap: 7px;
    position: absolute;
    height: 100%;
}

.container {
    display: inline-block;
    background-color: var(--lightpurple);
    aspect-ratio: 20/19;
    position: relative;
    height: 100%;
    border-radius: 5px;
    > * {
        font-weight: 500;
        font-family: 'Rubik', sans-serif;
    }

    > img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.child {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 12%;
    container-type: size;
    inset: 10px 0px 0px 3px;
    font-weight: 600;
    font-size: clamp(10px,2.5vmin,40px);
    color: rgb(51, 19, 63);
    border: 1px solid var(--ogpurple);
    background-color: var(--transpurple);
}

.footer {
    height: 35%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    container-type: size;
    background-color: rgba(134, 134, 134, 0.384);
    > p {
        margin: 0 0 0 10px;
        font-weight: 600;
    }
}


.product {
    margin-block: 7px 2%;
    font-weight: 700;
    font-size: max(26cqmin,0.78em);
}
.desc {
    color: rgba(0, 69, 133, 0.699);
    font-size: max(20cqmin,0.65em);
    margin-bottom: 1%;
}

.feature {
    font-size: max(17cqmin,0.6em);
    color: rgba(19, 19, 19, 0.726);
}

/*-------------------
subpages
---------------------*/

.title-b {
    font-size: 2rem;
    margin-bottom: 22px;
    margin-top: 7px;
    color: hsl(0,0%,10%);
}


#sign-in-form > label {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.emailinput {
    margin-bottom: 20px;
}

.titlelogo {
    width: 100%;
    object-fit: contain;
    margin-bottom: 10px;
    height: 55px;
}

.smalltext {
    display: block;
    width: fit-content;
    margin: 0;
    margin-left: auto;
}

#sign-in-box {
    background-color: var(--hintpurple);
    margin: auto;
    box-shadow: 0px 0px 1px 1px hsla(0,0%,0%,0.4);
    padding: 23px;
    width: 340px;
}

.paddingbox {
    width: 100%;
    padding: 17px;
    padding-top: 10px;
}

.submitbutton {
    display: block;
    margin-block: 14px;
}

#sign-in-form > input {
    font-size: 1rem;
    width: 100%;
    padding: 6px 6px;
}

.hero {
    background-image: url(images/mountain.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 0;
    position: relative;
    width: 100%;
    height: 97vh;
    margin: 0;
}

.hero-title {
    font-size: clamp(8px,11.5vmin,220px);
    line-height: 93%;
    margin: 0;
}

.hero-container {
    width: clamp(300px,52vw,800px);
    text-align: center;
    position: relative;
    margin-inline: auto;
    top: 16%;
    left: 2%;
}

.hero-desc {
    margin-block: clamp(7px,3.6%,28px);
    font-size: clamp(14px, 3.2vmin, 200px);
}


.hero-image {
    overflow: hidden;
    height: 100%;
    width: 45%;
    position: absolute;
    right: 0;
    top: 0;
}

.hero-image > img {
    height: 110%;
    object-position: 0 -45px;
    float: right;
    object-fit: cover;
}

.borderbutton {
    padding: 4px 11px;
    font-size: 1.3rem;
    border: 3px solid var(--ogpurple);
}

#fatherofsections {
    display: grid;
    row-gap: 50px;
    margin-top: 40px;
}

#fatherofsections > * {
    padding-inline: 4%;
}

.imgleft {
    background-color: var(--purplewhite);
    height: 400px;
    padding-block: 10px;
}

.imgleft > img {
    width: 30%;
    height: 100%;
    float: left;
    object-fit: cover;
}

.imgleft > div {
    text-align: center;
    display: inline-block;
    position: relative;
    overflow: hidden auto;
    width: 70%;
    padding-inline-start: clamp(5px,4%,28px);
    padding-top: 20px;
}
#about-us-title {
    background-color: var(--lighterpurple);
    border-radius: 50%;
    margin: 0;
    position: relative;
    bottom: 0.7vw;
    right: 1.6vw;
    width: 100%;
    height: 100%;
    font-size: clamp(18px,2.3vmax,33px);
    margin-inline: auto;
}

.stripedpurple {
    background-image: url("images/striped-purple.png");
    background-size: 100% 100%;
    margin-inline: auto;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: clamp(24px,3vmax,50px);
    width: clamp(120px,16vmax,280px);
}

.imgleft p {
    font-size: clamp(12px,1.5vw,22px);
}


.three-text {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    max-height: 350px;
    overflow: auto;
}

.three-text > div {
    overflow: auto;
    width: fit-content;
    max-width: 30%;
    background-color: hsl(271, 99%, 85%);
    border-radius: 48px;
    padding: 12px;
    padding-bottom: 0;
    text-align: center;
    position: relative;
}

.three-text img {
    display: inline-block;
    width: clamp(30px,17%,58px);
    object-fit: cover;
}


.imgright {
    padding: 10px;
    margin-inline: 20px;
    height: 400px;
}

.imgright > img {
    float: right;
    width: 40%;
    height: 100%;
    margin: 0;
    box-shadow: 15px -8px 1px var(--lighterpurple);
    object-fit: cover;
    object-position: 0px -210px;
}

.imgright > div {
    width: 58%;
    float: left;
}

footer {
    margin-top: 80px;
    width: 100%;
    background-color: var(--ogpurple);
    overflow: hidden;
}
#footerpadding {
    display: block;
    width: 80vw;
    margin-inline: auto;
    padding-block: 10px;
}

#titleslist > li {
    width: 25vw;
    text-align: center;
}

#titleslist h3 {
    margin: 0;
}

#titleslist img {
    height: clamp(30px,3.5vw,40px);
}

#footerlist, #titleslist {
    display: flex;
    justify-content: space-around;
}

#footerlist, #titleslist, #companylist {
    list-style-type:none;
    padding-left: 0;
}

#titleslist {
    align-items: baseline;
}

#footerlist >li {
    width: 25vw;
}

footer p, #companylist,#companylist a{
    font-size: clamp(10px, 1.7vw, 0.9rem);
    font-family: Arial, Helvetica, sans-serif;
}

footer #company, footer #contact {
    text-align: center;
}

footer #copyright > img {
    height: clamp(26px,5vw,42px);
}
.navbar-signin {
    padding: 6px 12px;
    width: max-content !important;
}



@media screen and (max-width: 800px) {
    .scroll {
        display: none;
    }
    /*.itemselection-container {
        overflow-x: auto !important;
    }*/
}

@media screen and (max-width: 400px) {
    #hiddenlogo {
        display: block;
    }
    #navbar-logo {
        display: none;
    }
    #footerpadding {
        margin: 0;
        width: 100%;
    }
    .menu, .leftbar {
        margin-inline: 0;
    }
    .navbarcontents {
        margin-inline: 5px;
    }
    .searchbar-input {
        padding-inline: 16px;
    }
    footer #company > * {
        margin-left: 0;
    }
    footer #company > ul {
        margin-left: 0;
    }
    #sign-in-box {
        width: 260px;
    }
}

@media screen and (max-width: 330px) {
    .navbar {
        height: 30px;
    }
    .leftbar {
        margin-inline: 0;
    }
    main {
        top: 30px;
    }
    .navbar-signin {
        padding: 2px 7px;
    }
    .searchbar-input {
        padding-inline: 5px;
    }
    #sign-in-box {
        width: 200px
    }
    .title-b {
        width: max-content;
        margin-inline: auto;
    }
}

.text-white, .menubar > ul > li > a , footer p, #titleslist > li, footer ul ul, footer ul ul a{
    color: white;
}

.text-purple {
    color: var(--darkpurple);
}

.nobg {
    background-color: rgba(0,0,0,0);
}

.border-none {
    border: none;
}

.border-radius-xs {
    border-radius: 4px;
}

.border-radius-s {
    border-radius: 8px;
}
.border-radius-m {
    border-radius: 12px;
}
.border-radius-l {
    border-radius: 26px;
}

.margin-small {
    margin-block-start: 12px;
}

.purple-button {
    background-color: var(--ogpurple);
}

.border-white {
    border: 2px solid white;
}

.hfull {
    height: 100%;
}

.hmost {
    height: 80%;
}
.uline {
    text-decoration: underline;
}

.nodecor {
    text-decoration: none;
}

.middle {
    margin-inline: auto;
}

.fontsize-m {
    font-size: 1.1rem;
}

.fontsize-l {
    font-size: 1.2rem;
}

.fontsize-xl, #titleslist > li {
    font-size: 20px;
}

.shadow {
    box-shadow: 0px 1px 2px rgb(53, 53, 53);
}
